.root-style {
    min-height: 100vh;
    background-color: #313552;
}

.text-primary {
    color: #313552;
}

.text-accent {
    color: #F14668;
}

.bg-primary {
    background-color: #313552;
}

.bg-accent {
    background-color: #F14668;
}